{% extends 'Master/masterpage.html.twig' %}
{% block content %}

    <div class="card">
        <div class="card-body" id="formUserContent">

            <input type="hidden" id="userId" name="userId" value="{{ id }}">

            <h4 class="card-title"> {{ language.translate('CHANGE_PASSWORD') }}</h4>
            <p class="card-description"> {{ language.translate('USER_DATA') }} </p>
            <div class="form-group">
                <label for="userOldPassword">{{ language.translate('OLD_PASSWORD') }}</label>
                <input type="password" class="form-control" id="userOldPassword"
                       placeholder="{{ language.translate('PASSWORD') }}">
            </div>
            <div class="form-group">
                <label for="userPassword">{{ language.translate('NEW_PASSWORD') }}</label>
                <input type="password" class="form-control" id="userPassword"
                       placeholder="{{ language.translate('PASSWORD') }}">
            </div>

            <button type="button" onclick="user.changePassword()" class="btn-save btn btn-gradient-primary mr-2">{{ language.translate('SAVE') }}</button>
            <button class="btn btn-light"
                    onclick="location.href='{{ helper.url('adminIndex') }}';">{{ language.translate('CANCEL') }}</button>
        </div>
    </div>


    <script src="/Js/App/User/User.class.js"></script>

{% endblock %}
