<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Alice Framework {% endblock %}</title>
    <link rel="stylesheet" href="/Iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Css/template.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/Img/favicon.ico"/>
    {% block head %} {% endblock %}
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="{{ helper.url('adminDashboard') }}"><img
                        src="/Img/logo.svg" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="{{ helper.url('adminDashboard') }}"><img
                        src="/Img/logo.svg" alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <div class="search-field d-none d-md-block">
                <form class="d-flex align-items-center h-100" onsubmit="masterSearch();" action="javascript:;">
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" id="filterMasterClientSearch"
                               placeholder="{{ language.translate('SEARCH_LABEL_BUTTON_TOP') }}">
                    </div>
                </form>
            </div>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown"
                       aria-expanded="false">
                        <div class="nav-profile-img">
                            <img src="/Img/icon-user-logIn.svg" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">{{ session.get('user').name }}</p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item"
                           href="{{ helper.url('adminUserEdit') }}?user={{ helper.id(session.get('user').id_user) }}">
                            <i class="mdi mdi-account mr-2 text-success"></i>
                            {{ language.translate('EDIT_MY_PROFILE') }}
                        </a>
                        <a class="dropdown-item"
                           href="{{ helper.url('adminChangePassword') }}?user={{ helper.id(session.get('user').id_user) }}">
                            <i class="mdi mdi-account-key mr-2 text-success"></i>
                            {{ language.translate('CHANGE_PASSWORD') }}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ helper.url('adminLogoff') }}">
                            <i class="mdi mdi-logout mr-2 text-primary"></i>
                            {{ language.translate('SIGNOUT') }}
                        </a>
                    </div>
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>

                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="{{ helper.url('adminLogoff') }}">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="/Img/icon-user-logIn.svg" alt="profile">
                            <span class="login-status online"></span> <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column">
                            <span class="font-weight-bold mb-2">{{ session.get('user').name }}</span>
                            <span class="text-secondary text-small">{{ session.get('user').profile }}</span>
                        </div>
                        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                    </a>
                </li>

                <!-- Menu -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ helper.url('adminDashboard') }}">
                        <span class="menu-title">Dashboard</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>

                {% if session.get('user').id_profile == '1' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ helper.url('adminUsersList') }}">
                            <span class="menu-title">{{ language.translate('USERS') }}</span>
                            <i class="mdi mdi-account-circle menu-icon"></i>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">

            <!-- content-wrapper -->
            <div class="content-wrapper">

                <!-- modal errors -->
                <div class="modal fade" id="modalErrors" tabindex="-1" role="dialog"
                     aria-labelledby="modalErrorsLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel-2">{{ language.translate('TITLE_MODAL_ERRORS') }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="contentModalErrors"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- modal loading -->
                <div id="overlayLoading" style="display: none"></div>
                <div class="modal" tabindex="-1" id="divLoading" style="display: none">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content text-center">
                            <hr>
                            <p><img src="/Img/loading.gif"></p>
                            <p>{{ language.translate('LOADING') }}</p>
                        </div>
                    </div>
                </div>

                <!-- @block content -->
                {% block content %} {% endblock %}

            </div>
            <!-- content-wrapper ends -->

            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017. All rights reserved.</span>
                </div>
                {% block footer %} {% endblock %}
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- @Core -->
<script src="/Js/Core/bundle.base.js"></script>
<script src="/Js/Core/Plugins/Jquery-Ui/jquery-ui.min.js"></script>
<script src="/Js/Core/bundle.addons.js"></script>
<script src="/util/url/url.js"></script>
<script src="/util/language/translate.js"></script>

<script src="/Js/Example/off-canvas.js"></script>
<script src="/Js/Example/misc.js"></script>
<!-- @endCore -->

<!-- @App -->
<script src="/Js/Core/Loading.js"></script>
<!-- @endApp -->
<script>
    function masterSearch() {
        var filterMaster = $('#filterMasterClientSearch').val();
        location.href= '{{ helper.url('adminUsersList') }}?filter='+filterMaster;
    }
</script>

{% block javascript %} {% endblock %}

</body>

</html>
